asgiref
beautifulsoup4
black
blinker
certifi
chardet
charset-normalizer
click
Django
Flask
gunicorn
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
packaging
psycopg2-binary
sqlparse
urllib3
whitenoise
dj-database-url
