asgiref==3.2.10
beautifulsoup4==4.6.0
black==22.8.0
blinker==1.5
certifi==2018.4.16
chardet==3.0.4
charset-normalizer==3.0.1
click==8.0.4
Django==3.1.1
Flask==2.0.3
gunicorn==21.2.0
idna==2.6
importlib_metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
packaging==21.3
psycopg2-binary==2.9.8
sqlparse==0.4.0
urllib3==1.22
