asgiref==3.2.10
beautifulsoup4==4.6.0
blinker==1.5
certifi==2018.4.16
chardet==3.0.4
charset-normalizer==3.0.1
click==8.0.4
Django==3.1.1
Flask==2.0.3
gunicorn==21.2.0
idna==2.6
importlib_metadata==7.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==24.0
passlib==1.7.4
peewee==3.15.4
psycopg2-binary==2.9.9
pytz==2024.1
requests==2.32.3
sqlparse==0.5.0
urllib3==1.22
Werkzeug==2.2.3
zipp==3.19.1
